h1{
    color: red;
}
img{
    border-style: dashed;
    height: 3px;
    
}
#text{
  text-align: justify;   
}

h1{
    color: red;
}
img{
    border-style: dashed;
    height: 3px;
    
}
#text{
  text-align: justify;   
}